pbr>=1.10.0,<=5.8.1 # Apache-2.0
six>=1.9.0,<=1.16.0 # MIT
oslo.config==3.22.0 # Apache-2.0
#grpcio===1.41.1 # Apache-2.0
grpcio===1.22.0; python_version<'3.8' # Apache-2.0
grpcio===1.26.0; python_version>='3.8' # Apache-2.0
protobuf===3.9.0; python_version<'3.8' # BSD
protobuf===3.14.0; python_version>='3.8' # BSD
netaddr>=0.7.18,<=0.8.0 # BSD
enum34===1.1.6; python_version<'3.8'
subprocess32===3.2.6;python_version=='2.7' # PSF
sentry-sdk==1.5.2;python_version<'3.8' # BSD
sentry-sdk==1.6.0;python_version>='3.8' # BSD
loopster>=2.9.1,<3.0.0  # Apache-2.0
obsender>=5.0.0,<6.0.0  # Apache-2.0
